<link rel="stylesheet" href="/app/assets/stylesheets/style_css_index_static_pages.css">
<h1 class="text-center" > Welcome to Social Network FoodBook </h1>
<h2 class="text-center"> Our dish and meals</h2>
<br> <br> <br> <br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <section class="dishes">
        <% @dishes.each do |d| %>
        <article class="dish">
          <ul id="ul_dish" class="list-group ">
            <h4 class="list-group-item text-center list-group-item-info">Dish:</h4>
            <li class="list-group-item">Nombre: <%= d.name %></li>
            <li class="list-group-item">Precio: <%= d.price %></li>
            <li class="list-group-item">Origen: <%= d.origin %></li>
          </ul>
        </article>
        <% end if @dishes.any? %>
      </section>
    </div>

    <div class="col-md-6">
      <section class="meals">
        <% @meals.each do |m| %>
        <article class="meal">
          <ul id="ul_meals" class="list-group">
            <h4 class="list-group-item text-center list-group-item-danger">Meal:</h4>
            <li class="list-group-item">Nombre: <%= m.name %></li>
            <li class="list-group-item">Precio: <%= m.price %></li>
            <li class="list-group-item">Restaurante: <%= m.restaurant %></li>
            <li class="list-group-item">Ciudad: <%= m.city %></li>
          </ul>
        </article>
        <% end if @meals.any? %>
      </section>
    </div>
  </div>
</div>
